<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.additional.age.infrastructure.db.mapper.AccountMapper">

    <!-- resultMap AS句カットのために設定    -->
    <resultMap id="dbAccountInfoResult" type="com.batch.additional.age.infrastructure.db.dto.DbAccountInfo">
        <result property="accountId" column="ACCOUNT_ID" jdbcType="INTEGER"/>
        <result property="lastName" column="LAST_NAME" jdbcType="VARCHAR"/>
        <result property="firstName" column="FIRST_NAME" jdbcType="VARCHAR"/>
        <result property="age" column="AGE" jdbcType="INTEGER"/>
        <result property="birthDay" column="BIRTH_DAY" jdbcType="DATE"/>
        <result property="createdAt" column="CREATED_AT" jdbcType="DATE"/>
        <result property="createUser" column="CREATE_USER" jdbcType="VARCHAR"/>
        <result property="updateAt" column="UPDATE_AT" jdbcType="DATE"/>
        <result property="updateUser" column="UPDATE_USER" jdbcType="VARCHAR"/>
        <result property="deleteFlg" column="DELETE_FLG" jdbcType="CHAR"/>
    </resultMap>

    <!-- 全データ取得 -->
    <select id="findAll" resultMap="dbAccountInfoResult">
        SELECT
            ACCOUNT_ID,
            LAST_NAME,
            FIRST_NAME,
            AGE,
            BIRTH_DAY,
            CREATED_AT,
            CREATE_USER ,
            UPDATE_AT,
            UPDATE_USER,
            DELETE_FLG
        FROM
            ACCOUNT
        WHERE
            DELETE_FLG = '0'
    </select>

    <!-- 今日が誕生日のユーザ一覧を取得 -->
    <select id="fetchTodayBirthAccount" resultMap="dbAccountInfoResult">
        SELECT
            ACCOUNT_ID,
            LAST_NAME,
            FIRST_NAME,
            AGE,
            BIRTH_DAY,
            CREATED_AT,
            CREATE_USER ,
            UPDATE_AT,
            UPDATE_USER,
            DELETE_FLG
        FROM
            ACCOUNT
        WHERE
            #{today} = TO_CHAR(BIRTH_DAY,'MMDD')
          AND
            DELETE_FLG = '0'
    </select>

    <!-- 年齢を更新 -->
    <update id="updateAccountAge" timeout="3">
        UPDATE
            ACCOUNT
        SET
            AGE = #{age},
            UPDATE_AT = CURRENT_DATE,
            UPDATE_USER = '年齢更新バッチ'
        WHERE
            ACCOUNT_ID = #{accountId}
          AND
            DELETE_FLG = '0'
    </update>
</mapper>